.mainDiv {
        display:flex;
        flex-direction:column;
         align-items:center;
        background-color:lightgray;
        width:40%;
        margin-left:30%;
        border-radius:25px;
}

.Div2{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}